<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F-Commerce</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/" rel="preconnect" />
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="" />

    <!-- Vendor CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
    />
    <!-- <link
      href="./Index - FashionStore Bootstrap Template_files/drift-basic.css"
      rel="stylesheet"
    /> -->

    <!-- Main CSS File -->
    <link href="../public/css/main.css" rel="stylesheet" />
  </head>

  <body
    class="index-page"
    data-aos-easing="ease-in-out"
    data-aos-duration="600"
    data-aos-delay="0"
    data-new-gr-c-s-check-loaded="14.1241.0"
    data-gr-ext-installed=""
  >


  
    <!-- Vendor JS Files -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <script src="./Index - FashionStore Bootstrap Template_files/imagesloaded.pkgd.min.js"></script> -->
    <!-- <script src="./Index - FashionStore Bootstrap Template_files/isotope.pkgd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

    <!-- <script src="./Index - FashionStore Bootstrap Template_files/Drift.min.js"></script>
    <script src="./Index - FashionStore Bootstrap Template_files/purecounter_vanilla.js"></script> -->

    <!-- Main JS File -->
    <script src="../public//js/main.js"></script>
  </body>
</html>
