### Node.js dependencies ###
node_modules/
npm-debug.log
yarn-error.log

### Environment variables ###
.env

### Logs ###
logs/
*.log

### IDE and Editor files ###
.vscode/
.idea/
.DS_Store

### Build and Deployment ###
dist/
build/
coverage/

### MongoDB ###
dump/

### Miscellaneous ###
*.bak
*.swp
Thumbs.db

