<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce</title>
    <%- include("../partials/css_links.ejs") %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div
      class="container d-flex flex-column flex-lg-row align-items-center justify-content-center flex-grow-1"
    >
      <div
        class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center"
      >
        <img
          alt="Sign In"
          class="img-fluid w-75"
          src="./img/auth/forget_password.svg"
        />
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="p-4 w-100" style="max-width: 500px">
          <form class="form" id="forgotPasswordForm">
            <div class="text-center mb-4">
              <h1 class="text-dark fw-bold">Forget Password ?</h1>
              <p class="text-secondary opacity-75">
                Enter your email to reset your password.
              </p>
            </div>

            <div class="my-5">
              <input
                class="form-control p-2"
                name="email"
                id="email"
                placeholder="Email"
                type="text"
              />
            </div>

            <div class="row">
              <div class="col-12 d-flex gap-2">
                <button
                  class="btn btn-primary w-50"
                  type="submit"
                  style="background-color: var(--accent-color)"
                  id="submitBtn"
                >
                  Submit
                </button>
                <button class="btn btn-outline-secondary w-50" type="button">
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/js_scripts.ejs') %>

  <script>
    const forgotPasswordForm = document.getElementById("forgotPasswordForm");
    const submitBtn = document.getElementById("submitBtn");

    forgotPasswordForm.addEventListener("submit", async (e) => {
      e.preventDefault(); // Prevent form from refreshing the page
      submitBtn.disabled = true;
      submitBtn.textContent = "Checking email";

      const email = document.getElementById("email").value.trim();

      if (!email) {
        showToast("Please enter your email.");
        submitBtn.disabled = false;
        submitBtn.textContent = "Submit";
        return;
      }

      try {
        const response = await fetch("/api/users/forget_password", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email }),
        });

        const data = await response.json();

        if (response.ok) {
          showToast(data.message || "OTP sent successfully!", "green");
          setTimeout(() => {
            window.location.href = `/otp?email=${email}`;
          }, 1500);
        } else {
          showToast(data.message || "Error sending OTP");
        }
      } catch (error) {
        showToast("Server Error: " + error.message);
      } finally {
        submitBtn.disabled = false;
        submitBtn.textContent = "Submit";
      }
    });
  </script>
</html>
