<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>e-commerce</title>
    <%- include("../partials/css_links.ejs") %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <div
      class="container d-flex flex-column flex-lg-row align-items-center justify-content-center flex-grow-1"
    >
      <div
        class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center"
      >
        <img alt="Sign In" class="img-fluid w-75" src="./img/auth/signin.svg" />
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <div class="p-4 w-100" style="max-width: 500px">
          <form class="form" id="loginForm">
            <div class="text-center mb-4">
              <h1 class="text-dark fw-bold">Sign In</h1>
              <p class="text-secondary opacity-75">f-commerce</p>
            </div>
            <div class="row g-3 mb-3">
              <div class="col-12 col-md-6">
                <a
                  class="border p-2 rounded-3 btn-outline-secondary text-dark w-100 d-flex align-items-center justify-content-center text-nowrap"
                  href="#"
                >
                  <img
                    alt="Google"
                    class="me-2"
                    src="./img/auth/google-icon.svg"
                    style="height: 15px"
                  />
                  Sign in with Google
                </a>
              </div>
              <div class="col-12 col-md-6">
                <a
                  class="border p-2 rounded-3 btn-outline-secondary text-dark w-100 d-flex align-items-center justify-content-center text-nowrap"
                  href="#"
                >
                  <img
                    alt="Apple"
                    class="me-2"
                    src="./img/auth/apple-b.svg"
                    style="height: 15px"
                  />
                  Sign in with Apple
                </a>
              </div>
            </div>

            <div class="d-flex align-items-center m-5">
              <hr class="flex-grow-1 opacity-50" />
              <span class="mx-3 text-secondary opacity-50">Or with email</span>
              <hr class="flex-grow-1 opacity-50" />
            </div>


            <div class="mb-3">
              <input
                class="form-control p-2"
                name="email"
                id="email"
                placeholder="Email"
                type="text"
                required
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control p-2"
                name="password"
                id="password"
                placeholder="Password"
                type="password"
                required
              />
            </div>
            <div class="text-end mb-3">
              <a
                class="text-secondary text-decoration-underline"
                href="/forget_password"
                >Forgot Password?</a
              >
            </div>
            <button
              class="btn btn-primary w-100"
              type="submit"
              id="loginBtn"
              style="background-color: var(--accent-color)"
            >
              Sign In
            </button>
            <div class="text-center text-muted mt-3">
              Not a Member yet?
              <a class="text-secondary text-decoration-underline" href="/signup"
                >Sign up</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>

      
    </script>
  </body>
</html>
